<link rel="stylesheet" href="pdf/tailwind.css"/>
<link rel="stylesheet" href="pdf/report.css"/>

<div class="report">
    <!-- Customer & report details -->
    <div class="page">
        <div class="flex h-full">
            <div class="flex flex-col justify-start flex-grow mx-auto max-w-md">
                <div class="justify-start mt-32">
                    <h1 class="font-bold text-2xl text-center uppercase">Schaderapport</h1>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-32">
                    <div>Bedrijfsnaam:</div>
                    <div>{{CompanyName}}</div>

                    <div>Datum</div>
                    <div>{{ReportDate}}</div>

                    <div>Contactpersoon:</div>
                    <div>{{ContactName}}</div>

                    <div>Plaats:</div>
                    <div>{{City}}</div>

                    <div>Adres:</div>
                    <div>{{Address}}</div>

                    <div>Volgende keuring vόόr:</div>
                    <div>{{NextExaminationBefore}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Schematic -->
    <div class="page">
        <div class="m-10">
            <div class="schematic">
                <img src="{{SchematicData}}" alt=""/>
            </div>
        </div>
    </div>

    <!-- Damages overview -->
    <div class="page p-10">
        <h2 class="font-bold text-lg">Overzicht</h2>
        <div class="grid grid-cols-3 gap-4">
            {{#each Locations}}
                <div class="col-span-3">
                    <p>Locatie <span class="font-bold">{{Number}}</span></p>
                    <p>{{Description}}</p>
                </div>
                {{#each Damages}}
                    <div>
                        {{#if MainDamagePicture}}
                            <div class="bg-gray-100 main-damage-picture-container">
                                <img src="{{MainDamagePicture.PictureData}}" alt=""/>
                            </div>
                        {{/if}}
                    </div>
                    <div>
                        <ul class="list-disc pl-5">
                            {{#each RequiredMaterials}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div>
                        <p><span class="font-bold">{{../Number}}.{{Number}}</span></p>
                        <p>{{DamageType}}</p>
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>

    <!-- Damages details -->
    <div class="page p-10">
        <div class="grid grid-cols-2 gap-4">
            {{#each Locations}}
                <div class="col-span-2">
                    <h2 class="font-bold text-lg">Locatie {{Number}}</h2>
                    <p>{{Description}}</p>
                </div>
                {{#each Damages}}
                    <div class="col-span-2">
                        <p>Schade <span class="font-bold">{{../Number}}.{{Number}}</span></p>
                        <p>{{DamageType}}</p>
                    </div>
                    {{#each DamagePictures}}
                        <div>
                            <div class="bg-gray-100">
                                <img src="{{PictureData}}" alt=""/>
                            </div>
                        </div>
                        <div>
                            <p><span class="font-bold">{{../../Number}}.{{../Number}}.{{Number}}</span></p>
                            <p>{{Description}}</p>
                        </div>
                    {{/each}}
                {{/each}}
            {{/each}}
        </div>
    </div>

    <!-- Damages details -->
    <div class="page p-10">
        <h2 class="font-bold text-lg">Materialen</h2>
        <div class="mx-auto max-w-full">
            <div class="grid grid-cols-6 gap-4 text-center">
                <div class="font-bold col-span-1">Aantal</div>
                <div class="font-bold col-span-5">Naam</div>

                {{#each RequiredMaterials}}
                    <div class="col-span-1">{{Quantity}}</div>
                    <div class="col-span-5">{{Material}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>