<link rel="stylesheet" href="pdf/tailwind.css"/>
<link rel="stylesheet" href="pdf/report.css"/>

<div class="report">
    <!-- Customer & report details -->
    <div class="page">
        <div class="flex h-full">
            <div class="flex flex-col justify-start flex-grow mx-auto max-w-md">
                <div class="justify-start mt-32">
                    <h1 class="font-bold text-2xl text-center uppercase">Schaderapport</h1>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-32">
                    <div>Bedrijfsnaam:</div>
                    <div>{{CompanyName}}</div>

                    <div>Datum</div>
                    <div>{{ReportDate}}</div>

                    <div>Contactpersoon:</div>
                    <div>{{ContactName}}</div>

                    <div>Plaats:</div>
                    <div>{{City}}</div>

                    <div>Adres:</div>
                    <div>{{Address}}</div>

                    <div>Volgende keuring vόόr:</div>
                    <div>{{NextExaminationBefore}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Schematic -->
    <div class="page">
        <div class="m-10">
            <div class="schematic">
                <img src="{{SchematicData}}" alt=""/>
            </div>
        </div>
    </div>

    <!-- Damages overview -->
    <div class="page p-10">
        <h2 class="font-bold text-lg text-center uppercase mb-10">Overzicht</h2>
        <table class="table-auto w-full" style="border-collapse: separate;  border-spacing: 10px 20px;">
            {{#each Locations}}
                <tr>
                    <td colspan="3" class="align-top">
                        <p class="mt-10">Locatie <span class="font-bold">{{Number}}</span></p>
                        <p>{{Description}}</p>
                    </td>
                </tr>
                {{#each Damages}}
                    <tr class="auto-break">
                        <td class="align-top text-left" style="width: 33%; background-color: lightgray;">
                            {{#if MainDamagePictureThumbnail}}
                                <img src="{{MainDamagePictureThumbnail.PictureData}}" alt=""/>
                            {{/if}}
                        </td>
                        <td class="align-top text-left" style="width: 33%;">
                            <ul class="list-disc pl-5 align-top">
                                {{#each RequiredMaterials}}
                                    <li>{{Name}} x {{Quantity}}</li>
                                {{/each}}
                            </ul>
                        </td>
                        <td class="align-top text-left" style="width: 33%;">
                            <p><span class="font-bold">{{../Number}}.{{Number}}</span></p>
                            <p>{{DamageType}}</p>
                            {{#if DamageDescription }}
                                <p>{{ DamageDescription }}</p>
                            {{/if}}
                            {{#if MainDamagePictureThumbnail.Description }}
                                <p>{{ MainDamagePictureThumbnail.Description }}</p>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>

    <!-- Damages details -->
    <div class="page p-10">
        <h2 class="font-bold text-lg text-center uppercase mb-10">Details</h2>
        <table class="table-auto w-full" style="border-collapse: separate;  border-spacing: 10px 20px;">
            {{#each Locations}}
                <tr>
                    <td colspan="2" class="align-top">
                        <h2 class="font-bold text-lg mt-10">Locatie {{Number}}</h2>
                        <p>{{Description}}</p>
                    </td>
                </tr>
                {{#each Damages}}
                    <tr>
                        <td colspan="2" class="align-top">
                            <p class="mt-10">Schade <span class="font-bold">{{../Number}}.{{Number}}</span></p>
                            <p>{{DamageType}}</p>
                            {{#if DamageDescription }}
                                <p>{{ DamageDescription }}</p>
                            {{/if}}
                        </td>
                    </tr>
                    {{#each DamagePictures}}
                        <tr class="auto-break">
                            <td class="align-top text-left" style="width: 50%; background-color: lightgray;">
                                <img src="{{PictureData}}" alt=""/>
                            </td>
                            <td class="align-top text-left" style="width: 50%;">
                                <p><span class="font-bold">{{../../Number}}.{{../Number}}.{{Number}}</span></p>
                                <p>{{Description}}</p>
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
            {{/each}}
        </table>
    </div>

    <!-- Materials -->
    <div class="page p-10">
        <h2 class="font-bold text-lg text-center uppercase mb-10">Materialen</h2>
        <div class="mx-auto max-w-full">
            <div class="grid grid-cols-6 gap-4 text-center">
                <div class="font-bold col-span-1">Aantal</div>
                <div class="font-bold col-span-5">Naam</div>

                {{#each RequiredMaterials}}
                    <div class="col-span-1">{{Quantity}}</div>
                    <div class="col-span-5">{{Material}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>